@import '../../styles/variables.scss';

.calendar-component-box {
  position: relative;
  color: $hoverColor;
  width: 320px;
  height: 469px;
  background-color: $calendarColor;
  // padding: 17px 24px;
}

.calendar-txt {
  font-size: $fontSizeSm;
  background: transparent;
  border: none;
  color: white;
  margin-left: 24px;
  margin-top: 17px;

  &:focus {
    outline: none;
  }
}

.calendar-title {
  font-size: $fontSizeXXXl;
  font-weight: 700;
  margin: 4px 24px 11px 24px;
}

.calendar-sub-title {
  font-size: $fontSizeSm;
  cursor: pointer;
}

.calendar-arrow {
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  outline: none;
  width: 48px;
  height: 48px;
}

.calendar-body {
  position: relative;
  padding: 0 16px;
}

.calendar-body-week-day {
  opacity: 0.5;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 1fr); /* Set each column width to 36px */
  font-size: $fontSizeSs;
  margin-bottom: 12px;
  margin-top: 8px;
}

.calendar-body-days {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  font-size: $fontSizeXs;
}

.calendar-body-week-item {
  height: 13px;
  width: 36px;
}

.calendar-body-days-item {
  height: 36px;
  width: 36px;
  line-height: 33px;

  &.fixed {
    border: 2px solid $activeColor;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
  }

  &.active {
    background-color: $activeColor;
    color: $hoverColor;
    cursor: pointer;
    border-radius: 50%;
  }

  &:hover {
    background-color: $hoverColor;
    color: $textColor;
    cursor: pointer;
    border-radius: 50%;
  }
}

.calendar-body-year-picker {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  font-size: $fontSizeXs;
  background-color: $calendarColor;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.calendar-body-year-picker-item {
  width: 60px;
  height: 24px;

  &.active {
    background-color: $activeColor;
    color: $hoverColor;
    cursor: pointer;
  }

  &:hover {
    background-color: $hoverColor;
    color: $textColor;
    cursor: pointer;
  }
}

.calendar-button {
  cursor: pointer;
  padding: 8px;
  color: white;
  background: none;
  border: none;
  outline: none;
  font-size: $fontSizeXs;

  &.ok {
    width: 53px;
    height: 40px;
    margin-left: 38px;
    margin-right: 27px;
  }
  &.cancel {
    width: 80px;
    height: 40px;
  }
}
